
@media screen and (max-width: 768px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width:auto;
        padding: 15px;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        margin-top: 20px;
    }

    nav ul{
        display: flex;
        justify-content: center;    
    }


    nav a {
        font-size: 14px;
    }
    .lista-beneficios,.imagem-beneficios {
        width: 100%;
    }

    .produtos {
        width: 100%;
    }
    .produtos li {
        width: 75%;
    }

    .div-img-produto {
        display: flex;
        justify-content: center;
    }
    .div-img-produto img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    .div-img-produto2 img {
        transform: scale(75%);
    }

    .caixa-geral{
        width: auto;
        }
    

    #grid-container{
        width: auto;
        height: 100%;
        margin: auto;
        display: grid;
        align-content: center;
    }
    #grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        justify-items: center;
        text-align:center;
        align-items: center;
    }
}